{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .card:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(14, 19, 14, 0.67);
}
</style>
<div class="container-fluid">

  <br><br>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/watch.jpg' %}" class="d-block w-100" alt="...">
    </div>
</div>
</div>
<br>
    <div class="row">
      
      {% for product in object_list %}
      <br>
      <div class="col-lg-2 mb-2">
        <a href="#" data-toggle="modal" data-target="#myModal" >
          <div class="card-deck">
              <div class="card border-dark" style='width:100%; height:100%;'>
                <img src="media/{{ product.mainimage }}" style="height: 150; width: 150;" class="rounded mx-auto d-block" alt="{{ product.name }}">
                      <div class="card-body">
                        <center><h6 class="card-title"><b>{{ product.name }}</b></h5></center>
                          <center><p class="card-text"><b>{{ product.price }}</b></p></center>
                      </div>
                  <div class='card-footer text-center'>
                    <a href="cart/{{ product.slug }}" class="btn btn-primary">Add to Cart &nbsp; &nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                    </svg></a>
                  </div>
              </div>
            </div>
            </a>
          </div>
        
      {% endfor %}
      <br>
  </div>
  </div>
 <a href="http://127.0.0.1:8000/register/">register</a>

 <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><p>sdfsdfdsp</p><p>sdfsdfdsfdsf</p><p>sfsdfsdlf</p> <img src="{% static 'images/download.jpg' %}" alt=""></h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
</body>
{% endblock %}